<footer class="bg-[#1D265F] text-white py-10 px-6 md:px-20">
  <div
    class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8"
  >
    <!-- Column 1: Company Info -->
    <div>
      <h2 class="text-xl font-extralight mb-10 flex items-center gap-2">
        SEAFOOD EXPRESS
      </h2>

      <p class="text-sm text-gray-300 mb-2">
        Trusted seafood exporters since 2016.
      </p>
      <p class="text-sm text-gray-300">
        Delivering quality marine products from India to the world.
      </p>
      <div class="mt-6 flex space-x-6">
        <a
          href="https://in.linkedin.com/in/suhail-sait-b8932b54"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn"
          class="transition-transform transform hover:scale-110 hover:text-blue-600"
        >
          <iconify-icon
            icon="mdi:linkedin"
            width="24"
            class="text-current"
          ></iconify-icon>
        </a>
        <a
          href="https://mobile.x.com/seafoodexpress"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Twitter"
          class="transition-transform transform hover:scale-110 hover:text-blue-500"
        >
          <iconify-icon
            icon="mdi:twitter"
            width="24"
            class="text-current"
          ></iconify-icon>
        </a>
        <a
          href="https://www.facebook.com/sfe.suhail/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
          class="transition-transform transform hover:scale-110 hover:text-blue-500"
        >
          <iconify-icon
            icon="mdi:facebook"
            width="24"
            class="text-current"
          ></iconify-icon>
        </a>
      </div>
    </div>

    <!-- Column 2: Products -->
    <div>
      <h3 class="text-lg font-light mb-10 underline">PRODUCTS</h3>
      <ul class="space-y-4 text-sm text-gray-300">
        <li>
          <a href="/pages/product.html" class="hover:text-white"
            >Scampi</a
          >
        </li>
        <li>
          <a href="/pages/product.html" class="hover:text-white"
            >Black Tiger Shrimp</a
          >
        </li>
        <li>
          <a href="/pages/product.html" class="hover:text-white"
            >Lobster</a
          >
        </li>
        <li>
          <a href="/pages/product.html" class="hover:text-white"
            >Crab</a
          >
        </li>
        <li>
          <a href="/pages/product.html" class="hover:text-white"
            >Cephalopods</a
          >
        </li>
        <li>
          <a href="/pages/product.html" class="hover:text-white"
            >Molluscs</a
          >
        </li>
      </ul>
    </div>

    <!-- Column 3: Quick Links -->
    <div>
      <h3 class="text-lg font-light mb-10 underline">QUICK LINKS</h3>
      <ul class="space-y-4 text-sm text-gray-300">
        <li>
          <a href="/pages/about.html" class="hover:text-white"
            >About Us</a
          >
        </li>
        <li>
          <a href="/pages/about.html" class="hover:text-white"
            >Our Story</a
          >
        </li>
        <li>
          <a href="/pages/about.html" class="hover:text-white"
            >Our Business</a
          >
        </li>
        <li>
          <a href="/pages/certification.html" class="hover:text-white"
            >Certifications</a
          >
        </li>
        <li>
          <a href="/pages/product.html" class="hover:text-white"
            >Our Products</a
          >
        </li>
        <li>
          <a href="/pages/processing.html" class="hover:text-white"
            >Processing & Storage</a
          >
        </li>
        <li>
          <a href="/pages/export.html" class="hover:text-white"
            >Export Markets</a
          >
        </li>
        <li>
          <a href="/pages/service.html" class="hover:text-white"
            >Customer Service</a
          >
        </li>
      </ul>
    </div>

    <!-- Column 4: Contact -->
    <div>
      <h3 class="text-lg font-light mb-10 underline">CONTACT US</h3>
      <ul class="space-y-4 text-sm text-gray-300">
        <li>
          <strong class="underline">Email:</strong><br />
          <a href="mailto:sales@seafoodexpress.in" class="hover:text-white"
            >sales@seafoodexpress.in</a
          >
        </li>

        <li>
          <strong class="underline">Phone:</strong>
          <p>
            <a href="tel:+919324566111" class="hover:underline">
              9324 566111
            </a>
          </p>
        </li>
        <li>
          <strong class="underline">Address:</strong>
          <address class="not-italic">
              Survey No 104,<br />
              Near Sahara Colony,<br />
              Wadiya Farha, Gala No 2,<br />
              Mahape Road, Shilphata,<br />
              Mumbra, Thane-400612
          </address>
        </li>
      </ul>
    </div>
  </div>
  <div
    class="max-w-7xl mx-auto mt-10 flex flex-col md:flex-row items-center justify-between gap-4 border-t border-gray-500 py-14 text-white text-base"
  >
    <div class="text-center md:text-left">
      &copy; All rights reserved - Seafood Express
    </div>
    <div class="text-center text-sm md:text-base text-white">
      Designed and Developed by
      <a
        href="https://Ahyconsulting.com"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:underline"
        >Ahy Consulting</a
      >
    </div>
    <div class="flex flex-wrap justify-center gap-6 text-sm">
      <a href="/pages/disclaimer.html" class="hover:underline">Disclaimer</a>
      <a href="/pages/policy.html" class="hover:underline">Privacy Policy</a>
      <a href="/pages/terms.html" class="hover:underline">Terms Of Use</a>
    </div>
  </div>
</footer>
